<ion-header>
  <ion-toolbar>
    <ion-title> {{ this.param.title }} </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="back()" [strong]="true">Back</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">


  <h1>{{ this.param.title }}</h1>


  @if (this.param.description) {
    <ion-toolbar class="content-description">
      <p>{{ this.param.description }}</p>
    </ion-toolbar>
  }

  <div class="cards">

    <div class="calendar">
      <ion-datetime [disabled]="'true'" [value]="this.param.date"></ion-datetime>
    </div>

    @if ((this.param.position.latitude && this.param.position.longitude)) {
      <ion-card>
        <ion-card-header>
          <ion-card-title>Map</ion-card-title>
        </ion-card-header>
  
        <ion-card-content>
          Exact location of your note
        </ion-card-content>
  
        <div>
          <ion-button fill="outline" (click)="showMap()" expand="block" strong="true" shape="round">CHECK YOUR
            LOCATION</ion-button>
        </div>
      </ion-card>
      }
  
      @if (this.param.img) {
      <ion-card>
        <ion-card-header>
          <ion-card-title>Image</ion-card-title>
        </ion-card-header>
  
        <ion-card-content>
          Size: {{ (this.param.img.length / 1024) | number }} kb
        </ion-card-content>
  
        <div>
          <ion-button fill="outline" (click)="showImg()" expand="block" strong="true" shape="round">CHECK
            IMAGE</ion-button>
        </div>
  
      </ion-card>
      }

  </div>
  <!-- <ion-datetime></ion-datetime> -->

</ion-content>
