@keyframes showlist {
    from {
        //opacity: 0;
        scale: 25%;
    } to {
        //opacity: 1;
        scale: 100%;
    }
}

ion-list {
    margin-top: 54px;
}

ion-list > ion-item-sliding {
    view-timeline-name: --item;
    view-timeline-axis: block;
    animation-timeline: --item;
    animation-name: showlist;
    animation-range: entry 15% cover 20%;
    animation-fill-mode: both;
} 

@media (width > 768px) {
    ion-list > ion-item-sliding {
        animation-range: entry 5% cover 12%;
    } 
}

ion-spinner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    scale: 2.5;
}

ion-infinite-scroll {
    margin-top: 20px;
}

.search-toolbar {
     position: fixed;
}

ion-searchbar {
    --border-radius: 7px;
}