<app-header [title]="'Notes List'"></app-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  @defer (when this.notes; on timer(1s)) {
  <ion-toolbar class="search-toolbar">
    <ion-searchbar animated="true" placeholder="Search" show-clear-button="always" [debounce]="1000"
      (ionInput)="handleInput($event)"></ion-searchbar>
  </ion-toolbar>

  <ion-list>
    @for (note of this.notes; track note.key) {

    <ion-item-sliding>
      <ion-item-options side="start">
        <ion-item-option color="primary">
          <ion-icon slot="start" src="assets/icons/create.svg" (click)="editNote(note)" style="zoom: 1.5;"></ion-icon>
        </ion-item-option>
      </ion-item-options>

      <ion-item>
        <ion-label>{{note.title}}</ion-label>
        <p>{{note.description}}</p>
      </ion-item>

      <ion-item-options side="end" (ionSwipe)="deleteNote(note)">
        <ion-item-option color="danger" expandable>
          <ion-icon slot="start" src="assets/icons/trash.svg" (click)="deleteNote(note)" style="zoom: 1.5;"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
    }
  </ion-list>

  } @placeholder (minimum 1000ms) {
  <ion-content [fullscreen]="true" id="placeholder">
    <ion-spinner name="crescent"></ion-spinner>
  </ion-content>
  }

  <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
    <ion-infinite-scroll-content loadingText="Please wait..." loadingSpinner="crescent"></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>