<ion-content>
  <form [formGroup]="form" (ngSubmit)="submit()">

    <div>
      <ion-item>
        <!-- <ion-label>
          Title
        </ion-label> -->
        <ion-input labelPlacement="floating" label="Title" type="text" formControlName="title"></ion-input>
      </ion-item>
    
      <ion-item>
        <!-- <ion-label>
          Description
        </ion-label> -->
        <ion-textarea labelPlacement="floating" label="Description" [autoGrow]="true" formControlName="description"></ion-textarea>
      </ion-item>
    
      <ion-item>
        <ion-label>
          Date
        </ion-label>
        <ion-datetime-button datetime="datetime"></ion-datetime-button>
        <ion-modal [keepContentsMounted]="true">
          <ng-template>
            <ion-datetime id="datetime" formControlName="datetimePicker"></ion-datetime>
          </ng-template>
        </ion-modal>
      </ion-item>
    
      <ion-toolbar>
    
        <ion-button 
          slot="start" 
          shape="round" 
          [color]="(this.location.latitude && this.location.longitude) ? 'success' : 'primary'" 
          (click)="takeLocation()"
          [@btnAnimate]="(this.location.latitude && this.location.longitude) ? 'success' : 'primary'">
          <ion-icon slot="icon-only" src="assets/icons/compass.svg"></ion-icon>
          @if ((this.location.latitude && this.location.longitude)) {
            <ion-icon slot="icon-only" src="assets/icons/trash.svg"></ion-icon>
  
          } @else {
            <ion-icon slot="icon-only" src="assets/icons/add-outline.svg"></ion-icon>
    
          }
        </ion-button>
    
        <ion-button
          slot="end" 
          shape="round" 
          [color]="this.img ? 'success' : 'primary'"
          (click)="takePic()"
          [@btnAnimate]="this.img ? 'success' : 'primary'">
          <ion-icon slot="icon-only" src="assets/icons/image.svg"></ion-icon>
          @if (this.img) {
            <ion-icon slot="icon-only" src="assets/icons/trash.svg"></ion-icon>
  
          } @else {
            <ion-icon slot="icon-only" src="assets/icons/add-outline.svg"></ion-icon>
    
          }
        </ion-button>
    
      </ion-toolbar>
    </div>

    <div class="cards">
      @if ((this.location.latitude && this.location.longitude)) {
        <ion-card>
          <ion-card-header>
            <ion-card-title>Map</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            Exact location of your note
          </ion-card-content>
        
          <div>
            <ion-button fill="outline" (click)="showMap()" expand="block" strong="true" shape="round">CHECK YOUR LOCATION</ion-button>
          </div>
        </ion-card>
      }
    
      @if (this.img) {
        <ion-card>
          <ion-card-header>
            <ion-card-title>Image</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            Size: {{ (this.img.length / 1024) | number }} kb
          </ion-card-content>

          <div>
            <ion-button fill="outline" (click)="showImg()" expand="block" strong="true" shape="round">CHECK IMAGE</ion-button>
          </div>
        
        </ion-card>
      }
    </div>
  
    <div>
      <ion-button class="btnSubmit" type="submit" expand="block" [disabled]="!form.valid" slot="end" strong="true" >SAVE NOTE</ion-button>
    </div>

  </form>
</ion-content>