<form [formGroup]="form" (ngSubmit)="submit()">
  <ion-item>
    <ion-label>
      Title
    </ion-label>
    <ion-input label="title" type="text" formControlName="title"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>
      Description
    </ion-label>
    <ion-textarea label="Description" formControlName="description"></ion-textarea>
  </ion-item>
  <ion-item>
    <ion-label>
      Date
    </ion-label>
    <ion-datetime-button datetime="datetime"></ion-datetime-button>
    <ion-modal [keepContentsMounted]="true">
      <ng-template>
        <ion-datetime id="datetime"></ion-datetime>
      </ng-template>
    </ion-modal>
  </ion-item>
  <ion-toolbar>
    <ion-button slot="start" shape="round" [color]="this.location.latitude && this.location.longitude ? 'success' : 'primary'" (click)="takeLocation()">
      <ion-icon slot="icon-only" src="assets/icons/compass.svg"></ion-icon>
    </ion-button>
    <ion-button slot="end" shape="round" [color]="this.img ? 'success' : 'primary'" (click)="takePic()">
      <ion-icon slot="icon-only" src="assets/icons/image.svg"></ion-icon>
    </ion-button>
  </ion-toolbar>
  @if (this.img) {
    <ion-item>
      <img [src]="'data:image/jpg;base64,'+ this.img"/> 
    </ion-item>
  }
  <ion-button type="submit" expand="full" [disabled]="!form.valid">Submit</ion-button>
</form>