.imgPicture {
  margin: auto;
  max-height: 400px;
}

form {
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.prueba {
  display: grid;
  grid-template-rows: 1fr 1fr;
  row-gap: 1.25em;
}

.parentImg {
  display: flex;
}

ion-toolbar {
  padding: 0 10px 0 10px;
}

ion-toolbar > ion-button {
  width: 100%;
}