.imgPicture {
  margin: auto;
  max-height: 400px;
}

.cards {
  display: grid;
  grid-template-rows: auto auto;
  row-gap: .5em;
  margin-bottom: 50px;
}

.parentImg {
  display: flex;
}

ion-toolbar {
  padding: 0 10px 0 10px;
  --background: transparent!important;
}

ion-toolbar > ion-button {
  width: 100%;
}

ion-card ion-card-header {
  padding: 8px 16px;
}

ion-card > div {
  padding: 10px;
  align-items: end;
  display: grid;
}

.icon-info-error {
  justify-self: end;
}

