.toolbar-custom {
  padding: 20px 10px;
  border-radius: 10px;
  display: grid;
  row-gap: .5em;
}

.buttons-container > ion-button {
  width: 100%;
}

.input-item {
  border-radius: 10px;
   margin-bottom: 5px;
}

.cards {
  display: grid;
  grid-template-rows: auto auto;
  row-gap: .5em;
}

ion-card > div {
  padding: 10px;
  align-items: end;
  display: grid;
}

ion-datetime {
  margin: 1.25em 10px 10px;
  border-radius: 10px;
}

.calendar{
  display: grid;
  place-content: center;
}

.input-item-description {
  height: auto;
}