.toolbar-custom {
  padding: 20px 10px;
  border-radius: 10px;
  display: grid;
  row-gap: .5em;
}

.buttons-container > ion-button {
  width: 100%;
}

.input-item {
  border-radius: 10px;
  //  --ion-item-background: rgb(98, 98, 98);
   margin-bottom: 5px;
}

.cards {
  display: grid;
  grid-template-rows: auto 1fr 1fr;
  row-gap: 1.25em;
}

ion-card {
  display: grid;
  // --background: rgb(42, 42, 42);
}

ion-card > div {
  padding: 10px;
  align-items: end;
  display: grid;
}

ion-datetime {
  margin: 1.25em 10px 10px;
  border-radius: 10px;
}

.calendar{
  display: grid;
  place-content: center;
}

// .buttons-container {
  // display: grid;
  // grid-template-columns: auto auto;
  // justify-content: space-between;
// }

.input-item-description {
  height: auto;
}